.reviews {
    height: 700px;
    width: 100%;
    background-color: #ffffff;

}

.review-head {
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.review-h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 540;
    padding-bottom: 10px;

}

.review-p {
    color: #606060;

    font-size: 15px;
    font-weight: 300;
}

.move-left {
    height: 50px;
    padding: 10px;
    border-radius: 33px;
    background-color:#eeeded ;

}

.move-right {
    height: 54px;
    padding: 10px;
    border-radius: 33px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
}

.buttons {
    margin-bottom: 50px;
    width: 100px;
    display: flex;
    columns: 20px;
    position: absolute;
    right: 5%;
    bottom: 3%;
}

.review-overflow {
    border-radius: 20px;
    height: 520px;
    width: 90%;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 150px; 
}

.review-overflow::-webkit-scrollbar {
    height: 7px;
    background-color: #f5f5f5;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: -60px;
    padding-left: 30px;
    margin-left: 5%;

}

.review-overflow::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 25px;
    padding-left: 30px;
}

.review-overflow::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 25px;
    width: 80%;
    height: 20px;
    padding-left: 50px;
}

.review-overflow::-webkit-scrollbar-button {
    display: none;


}


.card1 {
    margin-top: 3%;
    height: 430px;
    width: 800px;
    background-color: #f7f7f7;
    border-radius: 25px;
    position: relative;
}

.parent-review1 {
    width: 510px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.child1 {
    width: 470px;
    height: 330px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-left: 20px;
    position: absolute;
    top: 20px;


}

.comma {
    width: auto;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.review-child {
    padding: 20px;
    position: absolute;
    bottom: 40px;
}

.review-h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.reviewchild-p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    color: #606060;
    font-weight: 400;
}
.profcard{
    height: 370px;
    width: 200px;
    background-color: #f7f7f7;
    position: absolute;
    top : 30px;
    left: 30px;
}
.profpic{
    height: 120px;
    width: 120px;
    border-radius: 50%;
   
    border: 15px solid rgb(255, 255, 255);
    position: absolute;
    left: 20px;
    top: 20px;
}
.name-rate{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.profname{

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    
}
.verify-user{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profrate{
    font-size: 25px;
    font-weight: 600;
    color: #FFC107;
}

.card2 {
    margin-top: 3%;
    height: 430px;
    width: 800px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-left: 5%;
    position: relative;
}

.parent-review2 {
    width: 510px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.child2 {
    width: 470px;
    height: 330px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-left: 20px;
    position: absolute;
    top: 20px;


}

.card3 {
    margin-top: 3%;
    height: 430px;
    width: 800px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-left: 5%;
    position: relative;
}

.parent-review3 {
    width: 510px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.child3 {
    width: 470px;
    height: 330px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-left: 20px;
    position: absolute;
    top: 20px;


}

.card1,
.card2,
.card3 {
    flex: 0 0 auto;
}